
/* responsive web template */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    min-width: 350px;
    line-height: 1;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: 'Montserrat', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
  font-family: 'Montserrat', sans-serif;
} 
.row{
  max-width: 100%;
  margin: auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root {
    /* Primary Colors */
    --primary-color: #00baf2; /* Royal Blue */
    --secondary-color: #D4AF37; /* Gold */
    
    /* Background & Text Colors */
    --background-color: #F8F9FA; /* Light Grey */
    --text-color: #333333; /* Dark Grey */
    
    /* Accent Colors */
    --accent-color: #FF7F50; /* Sunset Orange */
    --hover-color: #008080; /* Teal */
    --link: #1a0dab;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/* page heaader */
.pageHeader{
    width: 100%;
    padding: 0 80px;
    box-shadow: 0 5px 20px rgba(0, 41, 112, .1);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}
.pageHeader nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.pageHeader .loginbtnBox a{
    padding: 2px 6px;
    background: #002970;
    border-radius: 18px;
    min-width: 90px;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}
.pageHeader .loginbtnBox a img{
   margin-right: .2rem;
   object-fit: contain;
   width: 30px;
   height: 30px;
   border-radius: 50%;
}
.pageHeader .loginbtnBox a span{
   font-weight: 500;
   font-size: .85rem;
 }
 .pageHeader  .logoBox a{
    font-weight: 700;
    font-size: 2rem;
    color: #000;
  }
  .pageHeader  .logoBox span{
    color: var(--primary-color);
  }
   .navLinkBox ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }
   .navLinkBox ul li{
    margin-right: 2rem;
    position: relative;
  }
   .navLinkBox ul li a .lang{
   width: 20px;
   object-fit: contain;
   margin-left: .3rem;
  }
   .navLinkBox ul li .floatingBoxes{
    position: absolute;
    top: 50px;
    width: 300px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 999;
    padding: 1.4rem .6rem ;
    border-radius: 5px;
    left: -50%;
    display: none;
    background-color: #fff;
  }
   .navLinkBox ul li .floatingBoxes .langBox{
    display: flex;
    justify-content: space-between;
    border-bottom: .1px solid #cccccc64;
    margin-bottom: .2rem;
    padding-bottom: 1rem;
  }
   .navLinkBox ul li .floatingBoxes .langBox p{
    font-weight: 500;
    color: #000;
    font-size: .9rem;
  }
   .navLinkBox ul li .floatingBoxes .langBox small img{
    object-fit: contain;
    width: 30px;
  }
   .navLinkBox ul li .floatingBoxes .langBox p span{
    display: block;
    font-size: .7rem;
    margin-top: .2rem;
  }
   .navLinkBox ul li .floatingBoxes .connectBox{
   display: flex;
  }
   .navLinkBox ul li .floatingBoxes .phoneNum{
    display: flex;
    flex-direction: column;
   }
    .navLinkBox ul li .floatingBoxes .phoneNum a{
    justify-content: left;
    margin-bottom: .5rem;
   }
    .navLinkBox ul li .floatingBoxes .phoneNum small{
    font-weight: 500;
    color: #000;
    font-size: .8rem;
   }
    .navLinkBox ul li .floatingBoxes .connectBox svg{
    margin-right: .5rem;

   }

   .navLinkBox ul li a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    font-size: .9rem;
    white-space: nowrap;
  }
   .navLinkBox ul li a svg{
  width: 20px;
  height: 20px;
  margin-left: .2rem;
  }
  .pageHeader .navLinkBox ul li:last-child{
    margin-right: 0;
  }

@media(min-width:991px){
    .navMenu{
        display: none;
    }
}
@media(max-width:991px){
    .navLinkBox{
        display: none;
    }
}
@media(max-width: 1050px){
    .pageHeader .navLinkBox ul li{
        margin-right: 1rem;
      }
}
.navMenu button{
   border: none;
   outline: none;
   background-color: transparent;
 }
.navMenu svg{
   width: 20px;
   height: 20px;
   fill: #000;
}
@media(max-width:600px){
    .pageHeader{
       padding: 0 6px;
    }
    .pageHeader .logoBox {
      font-size: 1.6rem;
  }
}
.headerOffcanvas.offcanvas.offcanvas-start {
    width: 200px;
}
.offcanvas.offcanvas-start .offcanvas-header .btn-close {
   box-shadow: none;
}
@media(max-width: 991px){
   .headerOffcanvas .navLinkBox{
    display: block;
   }
   .headerOffcanvas .navLinkBox ul{
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 20px;
   }
   .headerOffcanvas .navLinkBox ul li{
   margin-left: 0;
   }
  .headerOffcanvas .navLinkBox ul li .floatingBoxes{
    width: 170px;
    left: 0;
    top: 30px;
  }
  .headerOffcanvas .offcanvas-header{
    padding-bottom: 0;
  }
}
/* footer */
.footer{
  margin-top: 2rem;
  border-top: 1px solid #d9e2e8;
  background-color: #f0f3f6;
  padding-top: 2rem;
}
.footer .footerLinkBox h2{
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: #192024;
  margin: 0 0 12px;
}
.footer .footerLinkBox ul li {
  margin-bottom: 1rem;
}
.footer .footerLinkBox ul li a {
  font-weight: 500;
  color: #192024;
  font-size: 15px;
}  
.footer .footerLinkBox .svgApp{
 display: block;
}
.footer .footerLinkBox .svgApp svg{
  width: 120px;
  height: 60px;
}
@media(max-width:560px){
  .p-sm-0{
    padding: 0;
  }
}
.footer .footerBottom {
  background: #000;
  padding: 50px 0 60px;
}
.footer .footerBottom .bottomBox{
  display: flex;
  justify-content: space-between;
}
.footer .footerBottom .copyRight p{
 color: #fff;
 font-weight: 600;
}
.footer .footerBottom .social {
 display: flex;
 align-items: center;
 gap: 14px;
 }
 .footer .footerBottom .social a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  }
  .footer .footerBottom .social a img{
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  @media(max-width:560px){
    .footer .footerBottom .bottomBox {
      flex-direction: column;
      gap: 20px;
    }
  }